[submodule "nathan"]
	path = nathan
	url = git://github.com/nathanchance/scripts
[submodule "telegram"]
	path = telegram
	url = https://github.com/fabianonline/telegram.sh.git
[submodule "patches"]
	path = patches
	url = https://github.com/krasCGQ/patches.git
[submodule "clang-build"]
	path = clang-build
	url = https://github.com/nathanchance/tc-build.git
	branch = personal
